html.no-js noscript div {
  margin-top: 1em;
}

.t-chat-container {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.t-chat-container .panel-thread {
  margin-bottom: 0;
}

.t-chat-container .panel-thread .panel-footer {
  margin: 0;
  padding: 0;
}

.t-chat-container .panel-thread .panel-body {
  min-height: 200px;
}

.t-chat-container .panel-thread .panel-footer input[type="text"] {
  border-radius: 0px;
  outline: none;
  border: none;
}

.t-chat-container .panel-chat-widget .search-user-container,
.t-chat-container .panel-chat-widget .list-people,
.t-chat-container .panel-chat-widget .search-group-container,
.t-chat-container .panel-chat-widget .list-user-groups,
.t-chat-container .panel-chat-widget .list-archived-threads {
  margin-top: 1em;
}

.t-chat-container .panel-chat-widget {
  height: 278px;
}

.t-chat-container .panel-thread-container {
  width: 20%;
}

.t-chat-container .panel-chat-widget-container {
  width: 40%;
  position: absolute;
  right: 0;
}

.t-chat-container .panel-container-minimized {
  height: 278px;
}

.t-chat-container .panel-container-minimized .panel-thread {
  position: absolute;
  width: 95%;
  bottom: 0;
}