<div class="col-xs-4 panel-thread-container" data-ng-class="{
    'panel-container-minimized': ui.minimized == 1
  }">
  <div class="panel panel-thread panel-thread-{{ thread.type }} panel-default" data-ng-class="{
      'panel-success': ui.highlighted,
    }" data-tid="{{ thread.tid }}">
    <div class="panel-heading">
      <div class="panel-heading-buttons pull-right">
        <div class="btn-group" data-dropdown>
          <button type="button" class="btn btn-xs btn-default btn-actions dropdown-toggle" id="t-chat-thread-settings-{{ thread.tid }}" 
          data-toggle="dropdown">
            <i class="fa fa-cog"></i>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="t-chat-thread-settings-{{ thread.tid }}">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-user"></i> Add more people
              </a>
            </li>
            <li role="presentation" data-ng-if="thread.type === 'multi'">
              <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-power-off"></i> Leave
              </a>
            </li>
          </ul>
          <button type="button" class="btn btn-xs btn-default btn-resize" 
            data-ng-click="ui.minimized = !ui.minimized">
            <i class="fa" data-ng-class="{ 
              'fa-minus': ui.minimized == 0,
              'fa-plus': ui.minimized == 1 }">
            </i>
          </button>
          <button type="button" class="btn btn-xs btn-default btn-close" data-ng-click="close()">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </div>  
      <div class="panel-title" data-ng-if="thread.title">
        {{ thread.title }} <span class="badge badge-danger"> 2 </span>
      </div>
    </div>
    <div class="panel-content" data-ng-show="!ui.minimized">
      <div class="panel-body"></div>
      <div class="panel-footer">
        <input type="text" class="form-control" name="chat" placeholder="Send a message.">
      </div>
    </div>
  </div>
</div>